.homepage {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

}
